//colors
$menu-bg:#673ab7;
$red-btns-color:#f44336;
$input-select:#b0b0b0;
$input-select-border:#ddd;
//screen-sizes
$break-small: 480px;
$break-medium: 768px;
$break-large: 992px;
$break-large2: 1080px;
$break-x-large: 1400px;
$break-x-small: 320px;
//fonts
$regular: 'robotoregular';    
$thin: 'robotothin';  